.address-form {
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 20px;
}
.add:hover {
    background-color: #73AD21;
}
.search-icon {
	background-color: #ffffff;
}
.geocode-container {
	margin: 20px 0px;
}